@model HotelEstrellaReal5.Models.Permiso

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-6">
    <div class="card-box">

        <h4 class="header-title m-b-30 text-center">Eliminar permiso</h4>
        <hr />
        <address>
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.IdPermiso)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.IdPermiso)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
            </dl>
        </address>

        <address class="text-center">
            <form asp-action="Delete" id="formulario" onsubmit="enviarformulario(event)">
                <input type="hidden" asp-for="IdPermiso" />
                <button type="submit" class="btn btn-danger waves-effect waves-light m-l-5">Eliminar</button>
                <a asp-action="Index" class="btn btn-secondary waves-effect waves-light m-l-5">Salir</a>
            </form>
        </address>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function enviarformulario(event) {
            event.preventDefault();

            swal.fire({
                title: '¿Estás seguro que quieres eliminar este permiso?',
                icon: 'warning',
                showCancelButton: true,
                allowOutsideClick: false,
                confirmButtonText: 'si'
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    const formulario = document.getElementById('formulario');
                    formulario.submit();
                }
            })
        }
    </script>
}
