@model HotelEstrellaReal5.Models.Huespede

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-6">
    <div class="card-box">

        <h4 class="header-title m-b-30 text-center">Detalles huesped</h4>
        <hr />
        <address>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IdHuesped)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IdHuesped)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Identificacion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Identificacion)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NombreCompleto)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NombreCompleto)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FechaRegistro)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaRegistro)
                </dd>
            </dl>
        </address>

        <address class="text-center">
            <a asp-action="Edit" asp-route-id="@Model?.IdHuesped" class="btn btn-success waves-effect waves-light m-l-5">Editar</a>
            <a asp-action="Index" class="btn btn-secondary waves-effect waves-light m-l-5">Salir</a>
        </address>


    </div>
</div>
