@model HotelEstrellaReal5.Models.EncuestaSatisfaccion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EncuestaSatisfaccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalificacionLimpieza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalificacionLimpieza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalificacionServicios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalificacionServicios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalificacionComida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalificacionComida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalificacionHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalificacionHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalificacionAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalificacionAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalificacionInstalaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalificacionInstalaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdReservaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdReservaNavigation.IdReserva)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEncuesta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
